* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  background-color: var(--page-color);
  list-style: none;
}

h2 {
  font-size: 28px;
  line-height: 1.179;
  margin-bottom: 30px;
  text-align: center;
  @media screen and (min-width: $desktop) {
    font-style: 36px;
    line-height: 1.667;
    margin-bottom: 50px;
  }
}

h3 {
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

h2,
h3 {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

ul {
  list-style: none;
}

.section {
  padding: 60px 0;
  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (max-width: $mobile - 1px) {
    max-width: 100vw;
  }
  @media screen and (min-width: $mobile) and (max-width: $tablet - 1px) {
    max-width: $mobile;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    max-width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.touch-transform {
  transition-property: color, fill, background-color, border, box-shadow,
    opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
