.inside {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
  justify-content: center;
  align-self: center;
  
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    position: relative;
    overflow: hidden;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--background-inside-color);
    position: absolute;
    bottom: 0;
    color: var(--face-color);
  }
} 