.nav {
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    align-items: center;

  &__item {
    margin-bottom: 32px;
  }

  &__item:nth-child(1) &__str--current::after {
    width: 48px;
  }

  &__item:nth-child(2) &__str--current::after {
    width: 75px;
  }

  &__item:nth-child(3) &__str--current::after {
    width: 66px;
  }
  
  &__str {
    color: var(--title-color);

    &:hover,
    &:focus {
      color: var(--touch-color);
    }

    &--current {
      color: var(--touch-color);
    }
  }

  &__str {
    &--current {
      display: flex;
      flex-direction: column;
      color: var(--touch-color);
    }

    &--current::after {
      position: absolute;
      content: '';
      height: 4px;
      border-radius: 2px;
      background: var(--touch-color);
      margin-top: 45px;
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
  .nav {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    &__list {
      display: flex;
    }

    &__item {
      margin-bottom: 0;
      &:not(:last-child){
        margin-right: 50px;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .nav {
    // display: flex;
    // font-size: 14px;
    // line-height: 1.1428;
    // align-items: center;

    &__list {
      display: flex;
      justify-content: left;
    }

    &__item {
      margin-bottom: 0;
      &:not(:last-child){
        margin-right: 50px;
      }
    }
  }
}