// @media screen and (min-width: $tablet - 1px) {
//   .mobile {display: none;}
// }

// @media screen and (max-width: $tablet - 1px) and (min-width: $desktop) {
//   .tablet {display: none;}
// }    

// @media screen and (max-width: $desktop - 1px) {
//   .desktop {display: none;}
// }

// @media (max-resolution: 1.999dppx){
// .hires {display: none;}
// }


